In [51]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

1Ô∏è‚É£ Download data and overview

In [52]:
df = pd.read_csv("dataset.csv")
df

,Order_ID,Customer_ID,Date,Age,Gender,City,Product_Category,Unit_Price,Quantity,Discount_Amount,Total_Amount,Payment_Method,Device_Type,Session_Duration_Minutes,Pages_Viewed,Is_Returning_Customer,Delivery_Time_Days,Customer_Rating
0,ORD_000001-1,CUST_00001,2023-05-29,40,Male,Ankara,Books,29.18,1,0.00,29.18,Digital Wallet,Mobile,14,9,True,13,4
1,ORD_000001-2,CUST_00001,2023-10-12,40,Male,Ankara,Home & Garden,644.40,1,138.05,506.35,Credit Card,Desktop,14,8,True,6,2
2,ORD_000001-3,CUST_00001,2023-12-05,40,Male,Ankara,Sports,332.82,5,0.00,1664.10,Credit Card,Mobile,15,10,True,9,4
3,ORD_000002-1,CUST_00002,2023-05-11,33,Male,Istanbul,Food,69.30,5,71.05,275.45,Digital Wallet,Desktop,16,13,True,4,4
4,ORD_000002-2,CUST_00002,2023-06-16,33,Male,Istanbul,Beauty,178.15,3,0.00,534.45,Credit Card,Mobile,14,7,True,6,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17044,ORD_004999-1,CUST_04999,2024-01-16,44,Male,Antalya,Beauty,68.65,2,0.00,137.30,Digital Wallet,Mobile,14,10,False,6,1
17045,ORD_005000-1,CUST_05000,2023-02-22,24,Female,Eskisehir,Beauty,156.12,1,0.00,156.12,Credit Card,Mobile,15,8,True,7,5
17046,ORD_005000-2,CUST_05000,2023-06-29,24,Female,Eskisehir,Home & Garden,1065.24,3,0.00,3195.72,Credit Card,Desktop,17,11,True,5,4
17047,ORD_005000-3,CUST_05000,2023-12-29,24,Female,Eskisehir,Books,47.73,2,8.80,86.66,Credit Card,Desktop,13,11,True,12,2
17048,ORD_005000-4,CUST_05000,2024-01-19,24,Female,Eskisehir,Home & Garden,1015.23,4,217.01,3843.91,Credit Card,Mobile,15,7,True,3,4

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17049 entries, 0 to 17048
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Order_ID                  17049 non-null  object
 1   Customer_ID               17049 non-null  object
 2   Date                      17049 non-null  object
 3   Age                       17049 non-null  int64
 4   Gender                    17049 non-null  object
 5   City                      17049 non-null  object
 6   Product_Category          17049 non-null  object
 7   Unit_Price                17049 non-null  float64
 8   Quantity                  17049 non-null  int64
 9   Discount_Amount           17049 non-null  float64
 10  Total_Amount              17049 non-null  float64
 11  Payment_Method            17049 non-null  object
 12  Device_Type               17049 non-null  object
 13  Session_Duration_Minutes  17049 non-null  int64
 14  Pages_Viewed              17049 non-null  int64
 15  Is_Returning_Customer     17049 non-null  bool
 16  Delivery_Time_Days        17049 non-null  int64
 17  Customer_Rating           17049 non-null  int64
dtypes: bool(1), float64(3), int64(6), object(8)
memory usage: 2.2+ MB

In [54]:
df.isna().sum()

Order_ID                    0
Customer_ID                 0
Date                        0
Age                         0
Gender                      0
City                        0
Product_Category            0
Unit_Price                  0
Quantity                    0
Discount_Amount             0
Total_Amount                0
Payment_Method              0
Device_Type                 0
Session_Duration_Minutes    0
Pages_Viewed                0
Is_Returning_Customer       0
Delivery_Time_Days          0
Customer_Rating             0
dtype: int64

In [55]:
df['Date'] # object :(

0        2023-05-29
1        2023-10-12
2        2023-12-05
3        2023-05-11
4        2023-06-16
            ...
17044    2024-01-16
17045    2023-02-22
17046    2023-06-29
17047    2023-12-29
17048    2024-01-19
Name: Date, Length: 17049, dtype: object

In [56]:
df['Date'] = pd.to_datetime(df['Date'],format='%Y-%m-%d')
df['Date'] # Datetime :)

0       2023-05-29
1       2023-10-12
2       2023-12-05
3       2023-05-11
4       2023-06-16
           ...
17044   2024-01-16
17045   2023-02-22
17046   2023-06-29
17047   2023-12-29
17048   2024-01-19
Name: Date, Length: 17049, dtype: datetime64[ns]

2Ô∏è‚É£ Sales Analysis

* Total Sales
* Average order value

In [57]:
df['Total_Amount'].agg(['sum','mean']).round()

sum     21779053.0
mean        1277.0
Name: Total_Amount, dtype: float64

üîπ Sales by product category

In [58]:
sales_by_category = df.groupby('Product_Category')['Total_Amount'].sum().round().sort_values(ascending=False)
sales_by_category

Product_Category
Electronics      10481898.0
Home & Garden     4023904.0
Sports            3205087.0
Fashion           1577036.0
Toys              1014238.0
Beauty             694437.0
Food               422055.0
Books              360399.0
Name: Total_Amount, dtype: float64

üîπ Sales By Year

In [79]:
sales_by_year = df['Date'].dt.year.value_counts().sort_index()
sales_by_year

Date
2023    13810
2024     3239
Name: count, dtype: int64

üîπ Top-selling products by quantity

In [59]:
df.groupby('Product_Category')['Quantity'].sum().sort_values(ascending=False)

Product_Category
Sports           6856
Books            6727
Beauty           6564
Food             6381
Toys             6303
Electronics      6277
Home & Garden    6155
Fashion          6078
Name: Quantity, dtype: int64

3Ô∏è‚É£ Discount Analysis

In [60]:
df['Discount_Rate'] = df['Discount_Amount'] / (df['Unit_Price'] * df['Quantity'])

In [61]:
df.groupby('Product_Category')['Discount_Rate'].mean().sort_values(ascending=False)

Product_Category
Beauty           0.053200
Home & Garden    0.052324
Food             0.052237
Sports           0.052125
Electronics      0.051898
Fashion          0.050174
Books            0.049861
Toys             0.049138
Name: Discount_Rate, dtype: float64

4Ô∏è‚É£ Customer Analysis

üîπ Sales by gender

In [62]:
df.groupby('Gender')['Total_Amount'].count()

Gender
Female    8613
Male      8176
Other      260
Name: Total_Amount, dtype: int64

üîπ New customers vs. returning customers

In [63]:
counts = df['Is_Returning_Customer'].value_counts() 
# return percentage
percentages = (counts/counts.sum())*100
counts , percentages

(Is_Returning_Customer
 True     15039
 False     2010
 Name: count, dtype: int64,
 Is_Returning_Customer
 True     88.210452
 False    11.789548
 Name: count, dtype: float64)

üîπ Average spending of the top five customers

In [64]:
df.groupby('Customer_ID')['Total_Amount'].mean().sort_values(ascending=False).head(5)

Customer_ID
CUST_01573    25314.075
CUST_01399    18284.960
CUST_01578    16999.500
CUST_03084    14713.885
CUST_02856    14624.855
Name: Total_Amount, dtype: float64

üîπ Average spending of the top ten customers by Age

In [65]:
df.groupby('Age')['Total_Amount'].mean().sort_values(ascending=False).head(10)

Age
70    2150.747143
72    2113.177500
75    2010.287000
68    1977.094286
52    1493.741401
51    1462.962889
35    1440.517345
50    1422.161135
43    1401.324227
42    1399.746149
Name: Total_Amount, dtype: float64

In [66]:
bins = [18,25,35,45,55,65,75]
labels = ['18-25','26-35','36-45','46-55','56-65','66-75']
df['Age_Group'] = pd.cut(df['Age'], bins=bins, labels=labels,include_lowest=True)

In [67]:
df.groupby('Age_Group')['Total_Amount'].mean()

C:\Users\Softlaptop\AppData\Local\Temp\ipykernel_19632\2750252078.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('Age_Group')['Total_Amount'].mean()

Age_Group
18-25    1293.678224
26-35    1277.833122
36-45    1287.106270
46-55    1253.383226
56-65    1151.026166
66-75    1482.348630
Name: Total_Amount, dtype: float64

5Ô∏è‚É£ City Analysis

üîπ Total sales for each city

In [68]:
df.groupby('City')['Total_Amount'].sum().sort_values(ascending=False)

City
Istanbul     5646595.78
Ankara       3052443.10
Izmir        2651743.92
Bursa        2317028.10
Antalya      1661594.15
Gaziantep    1573422.25
Adana        1512320.19
Konya        1363152.80
Kayseri      1091658.53
Eskisehir     909093.77
Name: Total_Amount, dtype: float64

üîπ Average customers ratings by city

In [69]:
df.groupby('City')['Customer_Rating'].mean().sort_values(ascending=False).round(2)

City
Bursa        3.95
Istanbul     3.92
Konya        3.91
Eskisehir    3.91
Adana        3.89
Ankara       3.89
Antalya      3.88
Izmir        3.88
Gaziantep    3.87
Kayseri      3.85
Name: Customer_Rating, dtype: float64

6Ô∏è‚É£ Payment methods

In [70]:
df['Payment_Method'].value_counts()

Payment_Method
Credit Card         6801
Debit Card          4321
Digital Wallet      3276
Bank Transfer       1763
Cash on Delivery     888
Name: count, dtype: int64

üîπ Total and average sales by payment method

In [71]:
df.groupby('Payment_Method')['Total_Amount'].agg(['sum','mean']).sort_values(by='mean',ascending=False)

                         sum         mean
Payment_Method
Credit Card       9069714.65  1333.585451
Bank Transfer     2311499.25  1311.116988
Digital Wallet    4191842.00  1279.561050
Debit Card        5152182.83  1192.358905
Cash on Delivery  1053813.86  1186.727320

7Ô∏è‚É£ User Experience

üîπ The relationship between the type of device a customer uses and purchasing

In [72]:
df.groupby('Device_Type')['Order_ID'].count()

Device_Type
Desktop    5845
Mobile     9543
Tablet     1661
Name: Order_ID, dtype: int64

In [73]:
df.groupby('Delivery_Time_Days')['Customer_Rating'].mean()

Delivery_Time_Days
1     3.755365
2     3.912029
3     3.924433
4     3.878626
5     3.914836
6     3.916626
7     3.912218
8     3.917282
9     3.903196
10    3.878750
11    3.832196
12    3.872137
13    3.864238
14    3.920188
15    3.929936
16    3.819444
17    3.739726
18    3.928571
19    3.857143
20    3.885714
21    4.000000
22    3.923077
23    3.727273
24    4.100000
25    3.125000
Name: Customer_Rating, dtype: float64

In [74]:
df['Revenue'] = df['Unit_Price']*df['Quantity']

In [75]:
df.to_csv("cleaned_data_for_visual.csv", index=False)